<div class="exterior-360-wrapper d-none fill-content h-100">
    <div class="row h-100">
        <div class="exterior-360-wrapper-outer col-12 p-0">
            <div class="view360-model-intro container centered mt-4">
                <h1 class="title text-white m-0 text-shadow">Perfection from every angle</h1>
                <p class="text-white m-0 mb-2 mb-md-3 text-shadow">Every angle of the PROTON X70 exudes an inspiring intelligence like no other.</p>
                <div class="color-selection-container">
                    <span class="title text-center">SELECT COLOR</span>
                    <ul id="360-color-selection" class="variant-selected-colors m-0">
                        <li id="snow-white" class="btn-select-color variant-white active"></li>
						<li id="armour-silver" class="btn-select-color variant-silver"></li>
						<li id="jet-grey" class="btn-select-color variant-grey"></li>
                        <li id="ruby-red" class="btn-select-color variant-rose"></li>
                        <li id="space-grey" class="btn-select-color variant-space-grey"></li>                        
                    </ul>					
                </div>
				<h5 class="color-raw-name text-light"></h5>
            </div>

            <div id="x70-reel-wrapper">
                <div id="x70White-Reel" name="Snow White" class="model-360 snow-white active">
                        <img src="https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{D2E2B881-424F-404C-BA21-FC4042EA7811}X70_CKD_website_2020_white_00001.png"
                            width="60%" height="100%" id="sagaWhite" class="reel" data-shy="true" data-cw="true"
                            data-responsive="true" data-speed="0" data-break="0" data-throwable="1" data-frames="48"
                            data-images="https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{D2E2B881-424F-404C-BA21-FC4042EA7811}X70_CKD_website_2020_white_00001.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{E33A38BD-52E1-4EE1-A6A5-1830E257B09A}X70_CKD_website_2020_white_00002.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{5B466B39-BD7B-4A13-A761-1C0AA1809560}X70_CKD_website_2020_white_00003.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{A05E8F0C-14D9-49BE-A628-DF23F2BC405A}X70_CKD_website_2020_white_00004.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{6793F182-3AAC-4DE7-A614-3F3A6269FFA1}X70_CKD_website_2020_white_00005.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{8BC319E6-0B74-4A82-8036-9B10E3F80231}X70_CKD_website_2020_white_00006.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{ABD7D8D8-8B74-4958-AF50-8987A2AFFAA1}X70_CKD_website_2020_white_00007.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{8AE65E97-1E76-47BD-8116-806F6F9ABF9B}X70_CKD_website_2020_white_00008.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{06405B1D-6348-4A2E-9FB6-6F5E02E10E7A}X70_CKD_website_2020_white_00009.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{5459C933-BF35-4F26-8A86-43F8B2072EAB}X70_CKD_website_2020_white_00010.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{92EE294C-78CC-4442-8C0C-FEAB4D24D671}X70_CKD_website_2020_white_00011.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{F1CE0118-0D4F-4387-9C68-998163C4AD05}X70_CKD_website_2020_white_00012.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{58E94DF2-2C9B-4A50-A149-8AA3A9704DCE}X70_CKD_website_2020_white_00013.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{DF9F60F0-9182-49FE-BDFB-97D863077E90}X70_CKD_website_2020_white_00014.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{823CC7B2-8FB9-451C-8C6E-5039A98931AD}X70_CKD_website_2020_white_00015.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{31375F6E-126D-4537-826E-0AF0C6384678}X70_CKD_website_2020_white_00016.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{68790E1D-DF65-428D-8A91-95D7AE324FA6}X70_CKD_website_2020_white_00017.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{DC45A67B-DA88-4FAD-9AAB-811535127ACA}X70_CKD_website_2020_white_00018.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{8649E5B0-5D9B-47B9-BB24-7B777B70ECF7}X70_CKD_website_2020_white_00019.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{09BFEBFE-904C-49F0-A69F-43FF7E431663}X70_CKD_website_2020_white_00020.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{22F553B6-4FE0-4E8A-B494-5D73364BC911}X70_CKD_website_2020_white_00021.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{DF44664D-4DB1-4A06-B3A6-D6AFF06310C6}X70_CKD_website_2020_white_00022.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{F7F476EA-827B-4112-82BA-DDB451799F64}X70_CKD_website_2020_white_00023.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{01E419CE-51D9-4E34-BD60-D9E64655504E}X70_CKD_website_2020_white_00024.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{9169E30B-3AD3-4CE8-92F9-1B6C33A3BA72}X70_CKD_website_2020_white_00025.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{C43CCA45-DA5F-4D7F-B970-43A6EC4C49F8}X70_CKD_website_2020_white_00026.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{8EF260E8-3977-444B-AD0D-97476AEE4BE7}X70_CKD_website_2020_white_00027.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{85B24B1D-B213-4E97-9A30-151B951230B7}X70_CKD_website_2020_white_00028.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{3507BE93-8363-427D-A315-A938BE603AE9}X70_CKD_website_2020_white_00029.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{B1EB5148-FDCB-445F-AE71-DED0C5D33124}X70_CKD_website_2020_white_00030.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{D40134D3-40CC-4634-A073-9241B0D56E86}X70_CKD_website_2020_white_00031.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{020CBD92-4DA3-48DC-9D25-91DC5EA60AA1}X70_CKD_website_2020_white_00032.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{ED567586-5745-4AB2-A9B2-61BFCD0C2D91}X70_CKD_website_2020_white_00033.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{AFC7D684-0FD6-4E2B-B32D-740C7D83E2F6}X70_CKD_website_2020_white_00034.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{A529976D-462B-4FCF-8F45-5E9CC12906E0}X70_CKD_website_2020_white_00035.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{5A653A98-7218-420C-B302-AFA1EF85DA40}X70_CKD_website_2020_white_00036.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{72058A5A-8918-496D-BCBF-D8CC93BD599E}X70_CKD_website_2020_white_00037.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{DC210003-844D-40E2-B262-49E1F26D526B}X70_CKD_website_2020_white_00038.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{B88255BC-3C76-4D9E-AF44-7AE348DE4C69}X70_CKD_website_2020_white_00039.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{D8050564-AC79-44D7-9696-49E8A589A571}X70_CKD_website_2020_white_00040.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{6E93C0AE-668B-404C-A302-1C41CE8540D4}X70_CKD_website_2020_white_00041.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{C6A27FED-A302-41F2-9494-917D5D425A51}X70_CKD_website_2020_white_00042.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{8C80C302-8155-419B-98A1-D7CDC3987FE8}X70_CKD_website_2020_white_00043.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{97386351-1B4F-4E5D-917C-0B596FB298F5}X70_CKD_website_2020_white_00044.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{F06C7DB6-C4C6-453A-8AA5-DE0C8AD37FD9}X70_CKD_website_2020_white_00045.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{2C1BA09D-063B-43A8-9741-61AB05D2B4DA}X70_CKD_website_2020_white_00046.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{D4A0C73B-EC1C-48B8-97A8-C1F80C4751E3}X70_CKD_website_2020_white_00047.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{3DFF6D50-B645-40C7-AAA7-69DFACB304EC}X70_CKD_website_2020_white_00048.png"/>

                        {{!-- <img src="https://media4.giphy.com/media/hBayJ7ZgH5S3C/200_s.gif" class="cat popup hide-popup" id="popup1"> --}}
                </div>

				<div id="x70Silver-Reel" name="Armour Silver" class="model-360 armour-silver">
					<img src="https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{6B3557AB-F837-499F-8B87-C16A2369E6A3}X70_CKD_website_2020_silver_0001.png"
						width="100%" height="100%" id="sagaRed" class="reel" data-shy="true" data-cw="true"
						data-responsive="true" data-speed="0" data-break="0" data-throwable="1" data-frames="48"
						data-images="https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{6B3557AB-F837-499F-8B87-C16A2369E6A3}X70_CKD_website_2020_silver_0001.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{EAE5E9D5-2251-4690-83F9-5285D77C8AA0}X70_CKD_website_2020_silver_0002.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{833A9D11-61DC-4BA0-BE40-EBF0A31434D6}X70_CKD_website_2020_silver_0003.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{D879E431-074F-4026-84F2-0EF217A649CF}X70_CKD_website_2020_silver_0004.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{5BC666F9-8DFF-45DF-BCB6-2D735080F198}X70_CKD_website_2020_silver_0005.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{636447D3-5AAB-433D-8ED2-F203691526B0}X70_CKD_website_2020_silver_0006.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{7A7A3520-37FE-46D8-B785-30DFA740C6ED}X70_CKD_website_2020_silver_0007.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{BCD8C5FA-A8E5-4AE3-A89E-5B08C66D855C}X70_CKD_website_2020_silver_0008.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{D9AFFF09-6ADC-4F2F-A500-6DE57DA53C75}X70_CKD_website_2020_silver_0009.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{C6A7DAFB-03F9-4624-95BD-79DD41007465}X70_CKD_website_2020_silver_0010.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{0D0C73A6-B24D-4C7B-93BC-A547CB9B0FB4}X70_CKD_website_2020_silver_0011.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{99757825-F2A1-463B-9967-0625F712D2E9}X70_CKD_website_2020_silver_0012.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{F352D63B-FA00-4BF8-964E-988FCA8F4326}X70_CKD_website_2020_silver_0013.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{3C3D67F4-3663-44D9-A535-0423D9D08F7B}X70_CKD_website_2020_silver_0014.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{9A31DB8D-CFC2-4CFC-BFA4-64503D48363E}X70_CKD_website_2020_silver_0015.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{E8903872-A201-4BEB-816B-936712E3CF58}X70_CKD_website_2020_silver_0016.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{50C753A0-D6C4-4CF1-A12F-FC5E8B9E8C6F}X70_CKD_website_2020_silver_0017.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{C7C040BD-5A66-46D2-A156-F69F1973E9F5}X70_CKD_website_2020_silver_0018.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{F4AFB82F-D1A4-48C9-82AD-FE21583154A6}X70_CKD_website_2020_silver_0019.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{E8CE4460-8946-43A8-A784-D932AC3DA5B1}X70_CKD_website_2020_silver_0020.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{836C71D6-0BA5-48EC-9029-B264364DCACD}X70_CKD_website_2020_silver_0021.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{8F2A1B67-F2DF-4BE8-836E-6E8DF1BB6B2C}X70_CKD_website_2020_silver_0022.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{1519C7A7-E339-4C2C-8C46-B4766A8D1873}X70_CKD_website_2020_silver_0023.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{7F36450B-3743-4BE7-A341-FB5492C56521}X70_CKD_website_2020_silver_0024.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{D9D53E42-63DE-4125-8985-2CC9A97A7BEC}X70_CKD_website_2020_silver_0025.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{D768116A-ACEA-478D-AC1B-61A779544AEC}X70_CKD_website_2020_silver_0026.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{B615DEF9-53F9-4872-B3E9-0D10291E3919}X70_CKD_website_2020_silver_0027.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{0A557109-819A-45B5-967E-7C51234FD9FB}X70_CKD_website_2020_silver_0028.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{35EBA748-3411-4129-8916-ECCFB4AAA786}X70_CKD_website_2020_silver_0029.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{8379B499-A277-49AD-A4C3-337010ADC4A9}X70_CKD_website_2020_silver_0030.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{7356671E-7FDE-451C-804A-D31C84B41DE3}X70_CKD_website_2020_silver_0031.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{252DA8DD-55AA-4F87-AB58-D0B95E6BE0B3}X70_CKD_website_2020_silver_0032.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{CBA537FB-B3DC-4672-839B-1103CDAA436A}X70_CKD_website_2020_silver_0033.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{98476CC7-8C22-4D64-B755-D9597F7A51EC}X70_CKD_website_2020_silver_0034.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{95DA6F6D-AFB5-4662-9BDA-5A73549C7EA6}X70_CKD_website_2020_silver_0035.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{73F75578-3EEB-477E-8829-B11A2751598C}X70_CKD_website_2020_silver_0036.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{FCC9A92A-C93A-46B4-8EB9-70544F15D579}X70_CKD_website_2020_silver_0037.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{549B4C48-BAD7-43BA-86DC-80A9E0980885}X70_CKD_website_2020_silver_0038.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{22B7B009-B269-4291-98AA-ACFB78605369}X70_CKD_website_2020_silver_0039.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{A72221DE-6FE3-48E8-9F22-BD3C63128174}X70_CKD_website_2020_silver_0040.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{DBE33965-4A93-42FF-AF3B-5E4EF369F5C3}X70_CKD_website_2020_silver_0041.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{9926931E-0360-4B16-AEC5-CFB71BDF6260}X70_CKD_website_2020_silver_0042.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{2AB51965-EE2C-438A-B0D5-9536416381E9}X70_CKD_website_2020_silver_0043.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{AD59806A-CCC8-44EA-BF54-1B00CC153286}X70_CKD_website_2020_silver_0044.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{C442105E-5A25-4568-9974-B0E8E0992D9F}X70_CKD_website_2020_silver_0045.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{7DDABFA3-F9FF-410F-8C87-FA577A3FC5BE}X70_CKD_website_2020_silver_0046.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{4D6FCA2A-C64B-4C3D-97B4-058EF2C2735F}X70_CKD_website_2020_silver_0048.png"/>
                </div>

				<div id="x70JetGrey-Reel" name="Jet Grey" class="model-360 jet-grey">
					<img src="https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{40BC7154-CD67-48D2-B4E4-040F12EFB9F5}X70_CKD_website_2020_jet_grey_0001.png"
						width="100%" height="100%" id="sagaRed" class="reel" data-shy="true" data-cw="true"
						data-responsive="true" data-speed="0" data-break="0" data-throwable="1" data-frames="48"
						data-images="https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{40BC7154-CD67-48D2-B4E4-040F12EFB9F5}X70_CKD_website_2020_jet_grey_0001.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{DA0A0082-3DF1-4A30-8EA0-37B329D534C6}X70_CKD_website_2020_jet_grey_0002.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{F2E4F466-A8DD-45FE-B9CC-172836F688E8}X70_CKD_website_2020_jet_grey_0003.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{E7C2F9BA-8556-4B09-B5B2-DE489A764B85}X70_CKD_website_2020_jet_grey_0004.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{79A7BE23-19F5-44A4-A56E-1EDEBF988790}X70_CKD_website_2020_jet_grey_0005.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{5B1B7DE9-F7E2-410C-B979-F4C7E485A7CE}X70_CKD_website_2020_jet_grey_0006.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{31D6B0D1-CFC8-49FE-8A5C-C11D761BC4F4}X70_CKD_website_2020_jet_grey_0007.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{44CF0585-C675-4C27-BC0A-69FAE61B8DF1}X70_CKD_website_2020_jet_grey_0008.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{C2ECC5E9-6671-4FC8-927D-262B1D7E32A9}X70_CKD_website_2020_jet_grey_0009.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{0A23C794-5E05-4D68-9667-C42F06193B70}X70_CKD_website_2020_jet_grey_0010.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{F9D33BC0-1606-497B-8CC2-F70BE64AFE16}X70_CKD_website_2020_jet_grey_0011.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{9B4DAF69-B700-4B8C-9603-B59566A2FDB0}X70_CKD_website_2020_jet_grey_0012.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{9DC6F81D-6FAD-42AB-AD1F-88CB9A00A5BE}X70_CKD_website_2020_jet_grey_0013.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{FBDC1C20-CEA0-47DC-8022-9774188D7561}X70_CKD_website_2020_jet_grey_0014.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{DD0E6182-8E98-406E-9815-A5A3AC28144E}X70_CKD_website_2020_jet_grey_0015.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{1219CEB1-AF72-4879-9E7C-818EBD3B01DC}X70_CKD_website_2020_jet_grey_0016.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{C8078E7F-8B7D-4017-8D74-A8EE465E514B}X70_CKD_website_2020_jet_grey_0017.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{7AF1F3A2-CAC9-4CA7-B064-D83CF00364DD}X70_CKD_website_2020_jet_grey_0018.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{3495C727-A8C4-400C-B0F3-FA08E53BB3D4}X70_CKD_website_2020_jet_grey_0019.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{63E8C8AA-EA7B-4F46-8088-CC04370F93C3}X70_CKD_website_2020_jet_grey_0020.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{CA231A38-B3FA-4566-87A8-6DB1AE4D2FCB}X70_CKD_website_2020_jet_grey_0021.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{EDB06B61-8995-480A-9765-D6D40E324611}X70_CKD_website_2020_jet_grey_0022.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{5B51A72D-E050-453C-BA97-A1D9E3B559E4}X70_CKD_website_2020_jet_grey_0023.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{D0253D6C-D232-4258-AC1B-FC76C6C75D98}X70_CKD_website_2020_jet_grey_0024.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{EDE7597F-2CA9-4013-BCBB-7CD5C551D660}X70_CKD_website_2020_jet_grey_0025.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{F5263E82-FA67-43B4-9A98-6F421CDD38F2}X70_CKD_website_2020_jet_grey_0026.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{40ECE06C-A0EF-4774-BE60-A1476AF5CB1E}X70_CKD_website_2020_jet_grey_0027.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{3D2C28C0-99B4-4D1C-9F89-86DDA28BAB08}X70_CKD_website_2020_jet_grey_0028.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{97CEBD53-55B7-4BA9-9CC8-66777A79854C}X70_CKD_website_2020_jet_grey_0029.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{2AF2EB8C-3D0B-4D92-A94F-B85B2FEEDE3A}X70_CKD_website_2020_jet_grey_0030.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{AD611E92-A7D0-4563-86AF-130352037BF9}X70_CKD_website_2020_jet_grey_0031.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{E9699E4E-6705-4149-B45D-98D1BAB327F7}X70_CKD_website_2020_jet_grey_0032.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{2F0960EC-0118-49F4-9F96-9494EF085A4C}X70_CKD_website_2020_jet_grey_0033.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{33156A77-78D1-460A-AE76-B36DF4D4987D}X70_CKD_website_2020_jet_grey_0034.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{45216BE3-CA0C-4731-97CC-5E7EF60F357D}X70_CKD_website_2020_jet_grey_0035.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{BA4829B3-2099-4E18-AF0C-DFAB95EAF804}X70_CKD_website_2020_jet_grey_0036.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{CA138159-82FB-4D03-BFCE-5D03CB748564}X70_CKD_website_2020_jet_grey_0037.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{257B6B69-4F4A-427A-B93E-8E16771F05B4}X70_CKD_website_2020_jet_grey_0038.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{2FAF3C98-A67A-4E5D-9D7F-B4DFA60AD5CA}X70_CKD_website_2020_jet_grey_0039.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{CE85E345-A292-45ED-8A05-AD90A2A45931}X70_CKD_website_2020_jet_grey_0040.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{10E8D79D-D17D-45DF-B49B-7501EA5EE959}X70_CKD_website_2020_jet_grey_0041.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{D31157B3-5BE0-4EB9-9A6F-CE61F8C3D6B5}X70_CKD_website_2020_jet_grey_0042.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{09090E31-9115-4DC9-AE81-F51494AB2AB9}X70_CKD_website_2020_jet_grey_0043.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{A19ABCA5-8779-48E3-B1A9-30A888162E5C}X70_CKD_website_2020_jet_grey_0044.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{41B97F2C-09B1-4C4F-862E-0D79E9BE74C6}X70_CKD_website_2020_jet_grey_0045.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{E9805E67-A8BE-4A62-A867-6419B7297001}X70_CKD_website_2020_jet_grey_0046.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{0EB177F4-B8AD-4350-9867-663161EFC755}X70_CKD_website_2020_jet_grey_0047.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{6EB3EFD3-7AFF-447C-93F1-1492B1FC3783}X70_CKD_website_2020_jet_grey_0048.png"/>
                </div>

                <div id="x70Red-Reel" name="Ruby Red" class="model-360 ruby-red">
                        <img src="https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{1ECB9BC0-55AE-4E87-9C3D-2A9123356A48}X70_CKD_website_2020_red_0001.png"
                            width="100%" height="100%" id="sagaRed" class="reel" data-shy="true" data-cw="true"
                            data-responsive="true" data-speed="0" data-break="0" data-throwable="1" data-frames="48"
                            data-images="https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{1ECB9BC0-55AE-4E87-9C3D-2A9123356A48}X70_CKD_website_2020_red_0001.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{AFB5DC41-54FA-456B-B538-1AD172BE920E}X70_CKD_website_2020_red_0002.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{02FCBC9C-BDFB-4189-806A-19EC5F356614}X70_CKD_website_2020_red_0003.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{4AC510DB-1CA0-41C0-BF70-9469DA4C3194}X70_CKD_website_2020_red_0004.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{1C5E045B-44DA-466B-BDD3-9EA7A64E1EE0}X70_CKD_website_2020_red_0005.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{C74E931D-E51B-49CA-88F4-77145F492563}X70_CKD_website_2020_red_0006.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{499F7F30-0FC6-428D-B5DE-9A3CE44A599D}X70_CKD_website_2020_red_0007.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{BAA966A5-8216-4D43-AC45-29A5ED6EEF0B}X70_CKD_website_2020_red_0008.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{6F08B098-B139-4F3E-8A83-7A809B47709D}X70_CKD_website_2020_red_0009.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{ED5F60CD-46CB-4146-B1AA-020C6C25B641}X70_CKD_website_2020_red_0010.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{AFF27F35-7343-4648-944C-6E520B1FCB55}X70_CKD_website_2020_red_0011.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{3C30EBEE-3EC0-48B5-B4C7-6BE9259BAB5F}X70_CKD_website_2020_red_0012.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{AB7EFCEC-6A01-4F88-A0CF-CA44D54AA74C}X70_CKD_website_2020_red_0013.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{A73BCA8F-C632-493B-BBDE-3D75514F4BD4}X70_CKD_website_2020_red_0014.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{1CD6F814-0AC5-4262-BD59-ECB3A65010FB}X70_CKD_website_2020_red_0015.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{43216939-DF96-4E63-A081-C296095E75B5}X70_CKD_website_2020_red_0016.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{1C5FEBD8-1832-4FB6-82F3-D0F3CE4C9DBD}X70_CKD_website_2020_red_0017.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{E7318FF8-F504-4A6E-93A3-02749296086F}X70_CKD_website_2020_red_0018.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{3A0EB5B9-6E2C-44AA-BF38-4BF02E439C20}X70_CKD_website_2020_red_0019.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{104BDBC1-D8CD-4039-B2E3-1FE62528BA98}X70_CKD_website_2020_red_0020.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{BB08137F-996F-4323-BE84-A7598CF4DCB0}X70_CKD_website_2020_red_0021.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{C55AD915-4E92-43AF-9473-AD8768009799}X70_CKD_website_2020_red_0022.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{3D2E3E72-4256-4D3B-B06F-E1CAA984D30D}X70_CKD_website_2020_red_0023.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{10FDAFBD-03F9-4AD9-9E3F-0634223A5941}X70_CKD_website_2020_red_0024.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{B9394610-CF11-44BC-94DC-729881C2757F}X70_CKD_website_2020_red_0025.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{A09FE89D-A1B0-4D81-A8E5-1B00ABE9D791}X70_CKD_website_2020_red_0026.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{A68CB4EE-5FE3-46E7-9823-5449F92CBDA3}X70_CKD_website_2020_red_0027.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{3F8C455C-7E16-4D73-8812-F4F491B2EACF}X70_CKD_website_2020_red_0028.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{07EA59D3-0F53-48EA-A695-C37FC7A8E8CB}X70_CKD_website_2020_red_0029.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{52312607-AE36-4E0D-A06D-F02707943796}X70_CKD_website_2020_red_0030.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{9092694E-97F3-4030-BEB3-019597A44693}X70_CKD_website_2020_red_0031.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{DA01C5AC-E7B9-4976-9C9C-75E7D8D1306C}X70_CKD_website_2020_red_0032.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{52AEFF59-9720-4A72-9E2A-18930C73AC9D}X70_CKD_website_2020_red_0033.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{42C530DC-CD21-4F62-8A68-48E9FB0A0074}X70_CKD_website_2020_red_0034.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{7ABAB42F-95EC-4BBC-BB85-1BD60A19AFA5}X70_CKD_website_2020_red_0035.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{1C65E785-043A-4493-9F9C-8444610B9ECD}X70_CKD_website_2020_red_0036.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{57263D87-7735-462D-84F7-18818240E95E}X70_CKD_website_2020_red_0037.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{AA370344-C6C3-4CEF-8472-C3B9F0838BDC}X70_CKD_website_2020_red_0038.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{A3190D8D-90F7-41E8-A06A-8FAA6E75EDFA}X70_CKD_website_2020_red_0039.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{E96A849D-249B-431B-9EFC-C175F0C26FEE}X70_CKD_website_2020_red_0040.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{7C9B99BD-1AD8-4FA9-AA39-8AE3F83C0BC8}X70_CKD_website_2020_red_0041.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{38F931BF-5A34-42E9-894D-724EB2640BFB}X70_CKD_website_2020_red_0042.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{7409BD78-846E-4E64-95C3-F249FE5DF05C}X70_CKD_website_2020_red_0043.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{6A016173-548E-4BC1-9F35-48D100CDC7C1}X70_CKD_website_2020_red_0044.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{4C309F04-BB75-4136-AD32-966247E4FF5E}X70_CKD_website_2020_red_0045.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{676AB894-3075-46C0-953C-AFEEF6301C1B}X70_CKD_website_2020_red_0046.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{915C88CD-78AB-4353-8641-3BD1F7268BE8}X70_CKD_website_2020_red_0047.png,
                            https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{4C14AA70-A878-42A8-AAD7-CF788CD9C8E5}X70_CKD_website_2020_red_0048.png"/>
                </div>

                <div id="x70SpaceGrey-Reel" name="Space Grey" class="model-360 space-grey">
					<img src="https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{22B0E91D-EC70-435D-8F57-B14FFFCF387C}X70_CKD_website_2020_space_grey_00001.png"
						width="100%" height="100%" id="sagaRed" class="reel" data-shy="true" data-cw="true"
						data-responsive="true" data-speed="0" data-break="0" data-throwable="1" data-frames="48"
						data-images="https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{22B0E91D-EC70-435D-8F57-B14FFFCF387C}X70_CKD_website_2020_space_grey_00001.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{BE419A9D-657F-46EA-8443-784341E2DE39}X70_CKD_website_2020_space_grey_00002.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{00AE8609-E64E-4318-8D12-471F6C0D0207}X70_CKD_website_2020_space_grey_00003.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{6C4C3700-743D-4525-AA13-0FF03D3EEF6C}X70_CKD_website_2020_space_grey_00004.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{CEC983AC-172A-45BB-A2A6-79485DB0C867}X70_CKD_website_2020_space_grey_00005.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{9222D3E8-6882-493A-85FB-378705C60701}X70_CKD_website_2020_space_grey_00006.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{B847AC11-52E3-4FA2-AE46-77348DA29CF4}X70_CKD_website_2020_space_grey_00007.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{5B0277FF-EE0C-4D1D-BA3C-C08FE77DCABA}X70_CKD_website_2020_space_grey_00008.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{625FF0A5-DC14-4B01-A711-BC2A31579CCE}X70_CKD_website_2020_space_grey_00009.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{7D63B812-5DF4-4BCB-BC12-005B5A725238}X70_CKD_website_2020_space_grey_00010.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{2FEA2991-AF4A-4685-865C-A1E2DF138CB4}X70_CKD_website_2020_space_grey_00011.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{64DA21A5-8237-4D4C-98B3-199711534403}X70_CKD_website_2020_space_grey_00012.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{5422B289-9D9B-4B88-AA7F-DEF92168FC7C}X70_CKD_website_2020_space_grey_00013.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{51FE4934-DA8D-414A-8A2B-56768032746A}X70_CKD_website_2020_space_grey_00014.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{6ABC0BEE-6E11-4F27-9448-5095D612341D}X70_CKD_website_2020_space_grey_00015.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{7F6F02D6-4C22-46F6-8646-73E351164541}X70_CKD_website_2020_space_grey_00016.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{502EF3D0-66BF-4F39-8524-11F26B436BFA}X70_CKD_website_2020_space_grey_00017.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{4D5566D1-9CEC-48B8-960B-4BEE38768BDA}X70_CKD_website_2020_space_grey_00018.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{21403BDF-4B1E-4F10-BD7A-855E76DC5E13}X70_CKD_website_2020_space_grey_00019.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{E44916F5-AEF7-4378-9BCB-66CBEED2E257}X70_CKD_website_2020_space_grey_00020.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{1F7012B2-FDE9-4C6F-AD39-5A75732EA76C}X70_CKD_website_2020_space_grey_00021.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{39671705-67EC-47B8-8214-A6AA139D2E47}X70_CKD_website_2020_space_grey_00022.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{BE1EC658-68D6-4A7F-8DD7-E071A61A05C4}X70_CKD_website_2020_space_grey_00023.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{2A1F3FB3-C5CE-4B3B-803B-66B72F15D38F}X70_CKD_website_2020_space_grey_00024.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{E57ACDE2-E8FD-4DBD-8755-2574C9AC4A29}X70_CKD_website_2020_space_grey_00025.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{1332E81B-598E-4D3D-A91A-356FFAFE4B43}X70_CKD_website_2020_space_grey_00026.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{9A1A6828-375E-4560-A339-D1ABBBDDBC92}X70_CKD_website_2020_space_grey_00027.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{0E9E2565-87DE-4EC7-9032-8341F618519E}X70_CKD_website_2020_space_grey_00028.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{A54611FA-1439-43A2-AD6D-F65AF9D39979}X70_CKD_website_2020_space_grey_00029.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{1E41B27E-E288-4C80-B65F-8103026C3CA0}X70_CKD_website_2020_space_grey_00030.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{B4BFF70C-545B-40FD-883D-2882734F0B85}X70_CKD_website_2020_space_grey_00031.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{4A9FF1A7-8AAD-44AA-A3C7-4181894F6DC9}X70_CKD_website_2020_space_grey_00032.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{6E47FDAC-3594-40F3-A616-A8E3ADF3E1FF}X70_CKD_website_2020_space_grey_00033.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{019168C8-FDC3-41FE-A19F-91D5E14AE841}X70_CKD_website_2020_space_grey_00034.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{AD826788-5135-4E31-8A2D-AFF4514E5C8C}X70_CKD_website_2020_space_grey_00035.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{D0A2A4BB-D876-4C7F-8F80-4FDB38115669}X70_CKD_website_2020_space_grey_00036.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{B0D65CC1-D3F5-4FED-A3C1-B507A10E6057}X70_CKD_website_2020_space_grey_00037.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{374BF52F-E103-494E-B999-576EF251F21D}X70_CKD_website_2020_space_grey_00038.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{B3D5D92B-A424-4875-9011-7F4DD884750F}X70_CKD_website_2020_space_grey_00039.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{DDBBC726-E990-420C-B0D0-0E2AC703B291}X70_CKD_website_2020_space_grey_00040.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{4A09B884-24E4-4417-A105-4CBFA0C40FC5}X70_CKD_website_2020_space_grey_00041.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{DE9706E7-B258-48F2-8C21-F67120030B83}X70_CKD_website_2020_space_grey_00042.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{55A4A539-B567-479D-967B-622B07625941}X70_CKD_website_2020_space_grey_00043.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{CE048F7D-B1CE-4161-940D-9F007F1D0FCA}X70_CKD_website_2020_space_grey_00044.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{10DAED58-C822-4E26-99E3-A49DDCADD21D}X70_CKD_website_2020_space_grey_00045.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{9509C63A-B1E4-4888-9049-2806290C3D78}X70_CKD_website_2020_space_grey_00046.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{CE3FA71E-946D-4A0C-B30D-8992FC95A77F}X70_CKD_website_2020_space_grey_00047.png,
						https://sitecoredemostorage2897.blob.core.windows.net/protondemocontainer/{2ADD0751-1EB5-45BA-97AA-A6FABBE30DD8}X70_CKD_website_2020_space_grey_00048.png"/>
                </div>
                
            </div>

            <div class="view360-model-button container-fluid model-headline">
                <div class="row">
					<div class="col-md-12 text-center text-uppercase font-weight-bold centered">
						<img src="/assets/x70/2020/img/icons/360_icon.svg" alt="" class="mr-3 h-50">
						<p class="title text-light d-inline-block m-0">Drag to rotate</p>
					</div>
                    <div class="col-12 text-center">
                        {{>components/Button
                            id = "btn-interior"
                            link = "#"
                            text = 'View Interior'
                        }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>