<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="position-absolute w-100 zindex2" style="height: 66px; background: rgba(0,0,0,.7);"></div>
            <div id="detail-menu" class="x70-menu-wrapper position-absolute zindex2 w-100 bg-shadow pb-2 bg-shadow">
                <ul class="d-flex justify-content-around text-center text-light mt-3 mb-2">
                    <li id="detail-nav-refined-designed" class="x70-menu-item"><a href="#" data-slide="1">REFINED
                            DESIGN</a></li>
                    <li id="detail-nav-refined-connectivity" class="x70-menu-item"><a href="#" data-slide="2">REDEFINED
                            CONNECTIVITY</a></li>
                    <li id="detail-nav-reassure-safety" class="x70-menu-item"><a href="#" data-slide="3">RESPONSIVE
                            PERFORMANCE</a></li>
                    <li id="detail-nav-responsive-performance" class="x70-menu-item"><a href="#"
                            data-slide="4">REASSURED SAFETY</a></li>
                </ul>

                <div class="progress bg-white"></div>
            </div>

            <div class="feature-detail-slider-wrapper">
                {{!-- START: Refined Design --}}
                <div class="detail-slider">
                    <div class="feature-detail-sub-slider-wrapper">

                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedDesign/desktop/Main-USP.jpg'
                            title = '"Design is intelligent thinking made visual"'
                            description = 'Luxury goes beyond a visually impeccable exterior. It’s also in the finer details within the cabin, ready to pamper you on any journey. In the PROTON X70, everything is designed with your utmost comfort in mind. '
                            animation = 'text-inner'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedDesign/desktop/Front-Ventilated-Seats.jpg'
                            title = 'Front Ventilated Seats'
                            description = 'Circulates cool air through the front seats for improved ventilation and extra comfort.' 
                        }}
                        {{>components/SubSlider
                            class = 'top'
                            width = '3'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedDesign/desktop/Power-tailgate-with-foot-sensor.jpg'
                            title = 'Power tailgate<br>with foot sensor'
                            description = 'Open and close the tailgate hands-free thanks to the motion sensor that detects your foot movement.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedDesign/desktop/Nappa-Leather-Power-Seats.jpg'
                            title = 'NAPPA LEATHER POWER SEATS'
                            description = 'Soft and supple seats equipped with power adjustment. The driver seat offers 6-way adjustment with 2-way lumbar support while the front passenger seat offers 4-way adjustment with ‘Boss’ switch for sheer comfort and convenience.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedDesign/desktop/LED-Headlamps-with-Daytime-Running-Lamps.jpg'
                            title = 'LED Headlamps with<br>Daytime Running Lamps'
                            description = 'Style meets purpose for increased visibility in all weather conditions.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedDesign/desktop/Auto-Rain-Sensing-Wipers.jpg'
                            title = 'Auto Rain Sensing Wipers'
                            description = 'Automatically switches on and adjusts the speed of the front wipers according to rainfall intensity for maximum visibility.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedDesign/desktop/Front-Welcome-Lamps.jpg'
                            title = 'Front Welcome Lamps'
                            description = 'Illuminate the way to the front doors of the vehicle with an exquisite touch.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedDesign/desktop/Panoramic-Sunroof.jpg'
                            title = 'Panoramic Sunroof'
                            description = 'Catch a breath of fresh air or open up to experience the world from where you are. '
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedDesign/desktop/Instrument-Panel.jpg'
                            title = 'Instrument Panel'
                            description = 'Meticulously crafted with luxurious soft-touch surfaces and silver finishing.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedDesign/desktop/LCD-Meter-Combination.jpg'
                            title = 'LCD Meter Combination'
                            description = '<span class="mr-1">7”</span> high definition display delivers crisp and clear images of the information that matters most.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedDesign/desktop/Auto-Dual-Zone-Air-Conditioning.jpg'
                            title = 'Auto Dual Zone<br>Air-Conditioning'
                            description = 'Maintains an optimal interior temperature no matter what the weather is outside.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedDesign/desktop/N95-cabin-filter.jpg'
                            title = 'N95 Cabin Filter'
                            description = ' An integral part of the air-conditioning system that effectively filters smoke particulates, dust, bacteria and other pollutants. Click <a class="text-white text-underline" href="">here</a> to find out more.'
                            animation = 'text-inner'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedDesign/desktop/Air-Purifier-System.jpg'
                            title = 'Air Purifier System'
                            description = 'Filters out harmful gases, removes bad odour and kills bacteria.'
                        }}
                    </div>
                </div>
                {{!-- END: Refined Design --}}


                {{!-- START: Refined Connectivity --}}
                <div class="detail-slider">
                    <div class="feature-detail-sub-slider-wrapper">
                        {{>components/SubSlider
                            width = '6'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedConnectivity/desktop/Main-USP.jpg'
                            title = '"Connectivity. The perfect union of intelligence, intuition and innovation.”'
                            description = 'Command centre. Assistant. Entertainer. Everything you need to conquer the journey ahead lies at the tip of your fingers or activated through your voice. In the PROTON X70, it’s never just a drive. It’s about making your life better with intuitive intelligence.'
                            animation = 'text-inner'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedConnectivity/desktop/Voice-Command.jpg'
                            title = 'Voice Command'
                            description = 'Say “Hi PROTON” to control features like windows, air-conditioning and navigation through the 8” infotainment head unit.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedConnectivity/desktop/Remote-Control.jpg'
                            title = 'Remote Control'
                            description = 'Monitor and control specific functions of the vehicle remotely with a dedicated smartphone app.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedConnectivity/desktop/Online-Music Streaming-And-Weather-Forecast.jpg'
                            title = 'Online Music Streaming and Weather Forecast'
                            description = 'Access your favourite music streaming platforms and get updated with the latest weather forecast.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedConnectivity/desktop/Online-Navigation.jpg'
                            title = 'Online Navigation'
                            description = 'GPS navigation offers traffic alert warnings and driving directions to stay ahead.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedConnectivity/desktop/Smartphone-Connectivity.jpg'
                            title = 'Smartphone Connectivity'
                            description = 'Android mirror-link for your smartphone.'
                        }}
                        {{>components/SubSlider
                            width = '3'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedConnectivity/desktop/9-Speakers.jpg'
                            title = '9 Speakers with Power Amplifier and Subwoofer'
                            description = 'Indulge in an immersive experience with power-packed surround sound system.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/refinedConnectivity/desktop/6-USB-Ports.jpg'
                            title = '6 USB Ports'
                            description = 'Charge electronic gadgets with ease; 2 at the front console, 1 at the console box and 2 below the rear air vents. Unique to PROTON X70, there is also a dedicated USB port behind the rear view mirror to power the dash cam.'
                        }}
                    </div>
                </div>
                {{!-- END: Refined Connectivity --}}


                {{!-- START: Responsive Performance --}}
                <div class="detail-slider">
                    <div class="feature-detail-sub-slider-wrapper">
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/responsivePerformance/desktop/Main-USP.jpg'
                            title = '“Ignite your drive with exceptional performance.”'
                            description = 'Your road. Your command. Explore what’s under the hood of the PROTON X70 that drives such powerful performance.'
                            animation = 'text-inner'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/responsivePerformance/desktop/Engine.jpg'
                            title = '1.8L TGDi Engine'
                            description = 'Experience a powerful yet efficient drive with 135kW of power and 300Nm of torque.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/responsivePerformance/desktop/7-Speed-Dual-Clutch.jpg'
                            title = '7-Speed Dual Clutch Transmission with Manual Mode'
                            description = 'Offers the best of manual and automatic transmissions for faster, smoother and more efficient gear shifting.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/responsivePerformance/desktop/Drive-Mode-Selection.jpg'
                            title = 'Drive Mode Selection'
                            description = 'Choose between Normal, Eco or Sport modes to fit your driving style.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/responsivePerformance/desktop/Auto-Brake-Hold.jpg'
                            title = 'Auto Brake Hold'
                            description = 'Safely retains the brake pressure when stopping at traffic lights or in heavy traffic. Brakes are released by depressing the accelerator pedal.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/responsivePerformance/desktop/Ride-and-Handling.jpg'
                            title = 'Ride and Handling '
                            description = 'Tuned to provide a safe, comfortable and enhanced NVH driving experience.'
                        }}
                    </div>
                </div>
                {{!-- END: Responsive Performance --}}


                {{!-- START: Reassure Safety --}}
                <div class="detail-slider">
                    <div class="feature-detail-sub-slider-wrapper">
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/reassureSafety/desktop/Main-USP.jpg'
                            title = '"Safety and peace of mind. It all starts from within"'
                            description = 'Sees what you can’t. Knows before you do. It’s these intuitive touches that make the PROTON X70’s safety features intelligently exceptional. '
                            animation = 'text-inner'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/reassureSafety/desktop/6-SRS-Airbags.jpg'
                            title = '6 SRS Airbags'
                            description = 'Deploys during a collision to protect and reduce the risk of injury.'
                        }}
                        {{>components/SubSlider
                            width = '8'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/reassureSafety/desktop/Autonomous-Emergency-Braking-(AEB)-and-Forward-Collision-Warni.jpg'
                            title = 'Autonomous Emergency Braking<br/>(AEB) and Forward Collision Warning (FCW)'
                            description = 'Alerts the driver and brakes automatically to reduce the risk of injury when a potential frontal collision is detected.'
                            disclaimer = '*AEB and FCW safety features are not a substitute for safe and attentive driving. Driver remains responsible for safe vehicle operation at all times.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            class = "top"
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/reassureSafety/desktop/Adaptive-Cruise-Control.jpg'
                            title = 'Adaptive Cruise Control (ACC)'
                            description = 'Maintains a safe cruising distance with the vehicle in front of you regardless of changes in speed.'
                            disclaimer = "*ACC safety feature is not a substitute for safe and attentive driving. Driver remains responsible for safe vehicle operation at all times."
                        }}
                        {{>components/SubSlider
                            width = '5'
                            class = "top"
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/reassureSafety/desktop/Lane-Departure-Warning.jpg'
                            title = 'Lane Departure Warning (LDW)'
                            description = 'Alerts the driver when the vehicle unintentionally drifts out of the lane.'
                            bottom-right-disclaimer = '*LDW safety feature is not a substitute for safe and attentive driving. Driver remains responsible for safe vehicle operation at all times.'
                        }}
                        {{>components/SubSlider
                            width = '8'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/reassureSafety/desktop/Blind-Spot-Information-System.jpg'
                            title = 'Blind Spot Information System (BLIS)'
                            description = 'Monitors for blind spots and alerts the driver when vehicles are nearby.'
                            disclaimer = '*BLIS safety feature is not a substitute for safe and attentive driving. Driver remains responsible for safe vehicle operation at all times.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/reassureSafety/desktop/Door-Opening-Warning-System.jpg'
                            title = 'Door Opening Warning System (DOW)'
                            description = 'Senses potential danger when opening the front doors.'
                        }}
                        {{>components/SubSlider
                            width = '4'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/reassureSafety/desktop/Intelligent-High-Beam-Control.jpg'
                            title = 'Intelligent High Beam Control (IHBC)'
                            description = 'Automatically switches the headlamps between high and low beam when there are oncoming vehicles.'
                            disclaimer = '*IHBC safety feature is not a substitute for safe and attentive driving. Driver remains responsible for safe vehicle operation at all times.'
                        }}
                        {{>components/SubSlider
                            width = '3'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/reassureSafety/desktop/Tyre-Pressure-Monitoring-System.jpg'
                            title = 'Tyre Pressure Monitoring System (TPMS)'
                            description = 'Monitors real-time tyre pressure and temperature to provide peace of mind.'
                        }}
                        {{>components/SubSlider
                            alignment = 'top'
                            width = '3'
                            imgSrc = '/assets/x70/2020/img/section/featureDetails/reassureSafety/desktop/360-Camera-and-Parking-Sensors.jpg'
                            title = '360 Camera and Parking Sensors'
                            description = 'Provides visual and audible assistance to park with ease.'
                            left = true
                        }}
                    </div>
                </div>
                {{!-- END: Reassure Safety --}}
            </div>
        </div>
    </div>
</div>