{{!-- 
<div id="dynamicScript" class="overlay-enable-scrolling"></div>
<script id="dynamicScript" src="https://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=rsb&c=28&pli=29446163&PluID=0&w=1&h=1&ord=[timestamp]&ucm=true"></script>
<noscript id="dynamicScript">
    <a href="https://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=brd&FlightID=29446163&Page=&PluID=0&Pos=1789094614" target="_blank">
        <img src="https://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=bsr&FlightID=29446163&Page=&PluID=0&Pos=1789094614(1 kB) https://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=bsr&FlightID=29446163&Page=&PluID=0&Pos=1789094614" border=0 width=1 height=1>
    </a>
</noscript>     --}}


<div class="container-fluid">
    <div class="row model-intro centered main-x70-logo text-inner">
        <div class="col-12"><img src="/assets/x70/2020/img/LogoX70.png" alt="LogoX70"></div>
    </div>

    <div class="row model-headline w-100">

        <div class="col-12 col-md-6 text-center"></div>

        <div class="col-12 col-md-6 pr-md-0 mb-md-3 d-flex align-item-end justify-content-center justify-content-md-end">
            <div class="award-logo d-flex align-items-center flex-column-reverse flex-md-row pl-4 pl-md-0">
                <div class="text-inner mr-md-3">
                    <img src="/assets/x70/2020/img/5YearsIcon.png">
                </div>

                <div class="text-inner mr-md-3 d-none d-md-block">
                    <img src="/assets/x70/2020/img/EEVIcon.png">
                </div>

                <div class="text-inner mr-md-3 d-none d-md-block">
                    <img src="/assets/x70/2020/img/AseanNcapIcon.png">
                </div>

                <div class="text-inner mr-md-3 d-md-none pb-0 pb-md-3">
                    <img src="/assets/x70/2020/img/EEVIcon.png" class="mr-3 mt-3 mt-md-0">
                    <img src="/assets/x70/2020/img/AseanNcapIcon.png">
                </div>
            </div>

            <ul class="d-none d-md-inline-block social-icons text-inner">
                <li class="list-unstyled"><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.proton.com%2Fen%2Ffind-a-car%2Fprotonx70&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><img src="/assets/x70/2020/img/icons/Facebook.png" alt="Facebook"></a></li>
                <li class="list-unstyled"><a href="https://www.instagram.com/protoncars"><img src="/assets/x70/2020/img/icons/Instagram.png" alt="Instagram"></a></li>
                <li class="list-unstyled"><a href="https://www.proton.com/-/media/Project/Proton-Group/Proton/Social/wechat-qr-code.ashx" class="open-modal we-chat" target=""><img src="/assets/x70/2020/img/icons/Wechat.png" alt="Wechat"></a></li>
                <li class="list-unstyled"><a href="https://www.youtube.com/protoninteractive"><img src="/assets/x70/2020/img/icons/Youtube.png" alt="Youtube"></a></li>
            </ul>
        </div>
    </div>
</div>