<div class="container-fluid interior-360-wrapper">
    <div class="row">
        <div class="col-12 position-absolute model-intro centered text-white">
            <div class="col-md-12 text-center text-uppercase font-weight-bold centered">
                <img src="/assets/x70/2020/img/icons/360_icon.svg" alt="" class="mr-3 h-50">
                <p class="rotate-title title text-light d-inline-block m-0">Drag to rotate</p>
            </div>

            {{>components/InteriorModal
                id = "soft-touch-feature"
                imgSrc = "/assets/x70/2020/img/section/360/Interior/Popup/Soft-Touch-Instrument-Panel.jpg"
                title = "Soft-touch instrument panel"
                description = "Meticulously crafted with luxurious soft-touch surfaces and silver finishing."
            }}
            {{>components/InteriorModal
                id = "lcd-meter-feature"
                imgSrc = "/assets/x70/2020/img/section/360/Interior/Popup/LCD-Meter-Combination.jpg"
                title = "LCD meter combination"
                description = "7” high definition display delivers crisp and clear images of the information that matters most."
            }}
            {{>components/InteriorModal
                id = "speed-dual-feature"
                imgSrc = "/assets/x70/2020/img/section/360/Interior/Popup/7-Speed-Dual-Clutch-Transmission-with-Manual-Mode.jpg"
                title = "7-speed dual clutch transmission with manual mode"
                description = "Offers the best of manual and automatic transmissions for faster, smoother and more efficient shifting."
            }}
            {{>components/InteriorModal
                id = "infotainment-feature"
                imgSrc = "/assets/x70/2020/img/section/360/Interior/Popup/Voice-Command.jpg"
                title = "8” infotainment head unit with voice command"
                description = "Say “Hi PROTON” to control features like windows, air-conditioning and navigation through the 8” infotainment head unit."
            }}
            {{>components/InteriorModal
                id = "dual-zone-feature"
                imgSrc = "/assets/x70/2020/img/section/360/Interior/Popup/Auto-Dual-Zone-Air-Conditioning.jpg"
                title = "Auto dual zone air-conditioning"
                description = "Maintains an optimal interior temperature no matter what the weather is outside."
            }}
            {{>components/InteriorModal
                id = "air-purifier-feature"
                imgSrc = "/assets/x70/2020/img/section/360/Interior/Popup/Air-Purifier-System.jpg"
                title = "Air purifier system"
                description = "Filters out harmful gases, removes bad odour and kills bacteria."
            }}
            {{>components/InteriorModal
                id = "nappa-leather-feature"
                imgSrc = "/assets/x70/2020/img/section/360/Interior/Popup/Nappa-Leather-Seats.jpg"
                title = "Nappa leather seats"
                description = "Soft and supple seats equipped with power adjustment. The driver seat offers 6-way adjustment with 2-way lumbar support while the front passenger seat offers 4-way adjustment to give sheer comfort. "
            }}
            {{>components/InteriorModal
                id = "front-ventilated-feature"
                imgSrc = "/assets/x70/2020/img/section/360/Interior/Popup/Front-Ventilated-Seats.jpg"
                title = "Front ventilated seats"
                description = "Circulates cool air through the front seats for improved ventilation and extra comfort."
            }}
            {{>components/InteriorModal
                id = "power-seat-feature"
                imgSrc = "/assets/x70/2020/img/section/360/Interior/Popup/Power-Seat-Boss-Switch.jpg"
                title = "Power seat ‘Boss’ switch"
                description = "The passenger seat offers 4-way adjustment with a “Boss” switch"
            }}
            {{>components/InteriorModal
                id = "electric-parking-feature"
                imgSrc = "/assets/x70/2020/img/section/360/Interior/Popup/Electric-Parking-Break-With-Auto-Brake-Hold.jpg"
                title = "Electric parking brake with auto brake hold"
                description = "Safely retains the brake pressure when stopping at traffic lights or in heavy traffic. Brakes are released by depressing the accelerator pedal."
            }}
            {{>components/InteriorModal
                id = "drive-mode-feature"
                imgSrc = "/assets/x70/2020/img/section/360/Interior/Popup/Drive-Mode-Selection.jpg"
                title = "Drive mode selection"
                description = "Choose between Normal, Eco or Sport modes to fit your driving style."
            }}
            {{>components/InteriorModal
                id = "panaromic-sunroof-feature"
                imgSrc = "/assets/x70/2020/img/section/360/Interior/Popup/Panoramic-Sunroof.jpg"
                title = "Panoramic sunroof"
                description = "Catch a breath of fresh air or open up to experience the world from where you are."
            }}
            {{>components/InteriorModal
                id = "auto-diming-feature"
                imgSrc = "/assets/x70/2020/img/section/360/Interior/Popup/Auto-Dimming-Rear-View-Mirror.jpg"
                title = "Auto dimming rear view mirror"
                description = "Detects changes in light levels and dims accordingly to protect your eyes for a comfortable drive."
            }}
        </div>

        <div id="interior-360" class="col-12"></div>



        <div class="col-12 text-center position-absolute model-headline">
            {{>components/Button
                id = 'btn-exterior'
                link = "#"
                text = 'Go Back'
            }}
        </div>
    </div>
</div>