<div class="container-fluid fill-content align-items-center d-md-flex flex-column justify-content-center">
    <div class="row">
        <div class="col-12 pb-md-4 text-center mt-4 text-light text-info">
            <h3 class="title text-uppercase text-inner">Compare, Command and Conquer</h3>
            <p class="title-desciption text-light mb-0 mb-md-2 mx-auto text-inner px-1">There's definitely a PROTON X70 that's made for you. All you have to do is compare and make one yours</p>
        </div>
    </div>	
    <div class="row variant-slick">			
        <div class="col-12 col-md-3 variant-item text-inner">
			<div class="variant-img-container">
            	<img data-src="/assets/x70/2020/img/section/landingPage/x70-CKD-Standard-2WD.png" class="pb-0 m-auto" alt="">	
			</div>
			<div class="variant-descriptions">
				<div class="variant-model-container text-center">
					<h4 class="variant-name">Standard 2WD</h4>
					<ul class="variant-selected-colors justify-content-center justify-content-md-start">
						<li class="btn-select-color variant-white"></li>
						<li class="btn-select-color variant-silver"></li>	
						<li class="btn-select-color variant-grey"></li>				
					</ul>
				</div>
				<div class="variant-specs-container">
					<p class="mb-1 mt-2 text-md-left text-center text-light title">Base specification</p>
					<div class="variant-specs-item d-flex d-md-block">
						<ul class="text-light pr-3 pr-md-0 mb-0">
							<li>1.8L TGDi petrol engine</li>
							<li>7-speed dual clutch <br class="d-md-none">transmission</li>
							<li>6 SRS airbags</li>
							<li>Halogen headlamps</li>
							<li>17” alloy wheels</li>
							<li>Fabric seats</li >
						</ul>
						<ul class="text-light mb-0">
							<li>8” infotainment head unit<br>with online navigation</li>
							<li>6 speakers</li>
							<li>Rear view camera</li>
							<li>Air purifier system</li>
						</ul>
					</div>
					
				</div>
			</div>			
        </div>
        <div class="col-12 col-md-3 variant-item text-inner">
			<div class="variant-img-container">
            	<img data-src="/assets/x70/2020/img/section/landingPage/x70-CKD-Executive-2WD.png" class="pb-0 m-auto" alt="">	
			</div>
			<div class="variant-descriptions">
				<div class="variant-model-container text-center">
					<h4 class="variant-name">Executive 2WD</h4>
					<ul class="variant-selected-colors justify-content-center justify-content-md-start">
						<li class="btn-select-color variant-white"></li>
						<li class="btn-select-color variant-silver"></li>	
						<li class="btn-select-color variant-grey"></li>
						<li class="btn-select-color variant-rose"></li>								
					</ul>
				</div>
				<div class="variant-specs-container">
					<p class="mb-1 mt-2 text-md-left text-center text-light title">Addition to Standard 2WD</p>
					<div class="variant-specs-item d-flex d-md-block">
						<ul class="text-light pr-3 pr-md-0 mb-0">
							<li>LED headlamps with DRL</li>
							<li>18” alloy wheels</li>
							<li>Power tailgate</li>
							<li>Front welcome lamps</li>
							<li>Leatherette seats</li>
						</ul>
						<ul class="text-light mb-0">
							<li>Driver power seat</li>
							<li>Front seats ventilation</li>
							<li>8 speakers</li>
							<li>360 camera</li>
						</ul>
					</div>
					
				</div>
			</div>			
        </div>
        <div class="col-12 col-md-3 variant-item text-inner">
			<div class="variant-img-container">
            	<img data-src="/assets/x70/2020/img/section/landingPage/x70-CKD-Premium-2WD.png" class="pb-0 m-auto" alt="">	
			</div>
			<div class="variant-descriptions">
				<div class="variant-model-container text-center">
					<h4 class="variant-name">Premium 2WD</h4>
					<ul class="variant-selected-colors justify-content-center justify-content-md-start">
						<li class="btn-select-color variant-white"></li>
						<li class="btn-select-color variant-silver"></li>	
						<li class="btn-select-color variant-grey"></li>
						<li class="btn-select-color variant-rose"></li>
						<li class="btn-select-color variant-space-grey"></li>
					</ul>
				</div>
				<div class="variant-specs-container">
					<p class="mb-1 mt-2 text-md-left text-center text-light title">Addition to Executive 2WD</p>
					<div class="variant-specs-item">
						<ul class="text-light mb-0">
							<li>Advanced Driver Assistance System</li>
							<li>Tyre Pressure Monitoring System</li>
							<li>19” alloy wheels</li>
							<li>Power tailgate with foot sensor</li>
							<li>Nappa leather seats</li>
							<li>Front passenger power seat with ‘boss’ switch</li>
							<li>9 speakers with power amplifier & subwoofer</li>
						</ul>
					</div>
				</div>
			</div>			
        </div>
        <div class="col-12 col-md-3 variant-item text-inner">
			<div class="variant-img-container">
            	<img data-src="/assets/x70/2020/img/section/landingPage/x70-CKD-Premium-X-2WD.png" class="pb-0 m-auto" alt="">	
			</div>
			<div class="variant-descriptions">
				<div class="variant-model-container text-center">
					<h4 class="variant-name">Premium X 2WD</h4>
					<ul class="variant-selected-colors justify-content-center justify-content-md-start">
						<li class="btn-select-color variant-white"></li>
						<li class="btn-select-color variant-silver"></li>	
						<li class="btn-select-color variant-grey"></li>
						<li class="btn-select-color variant-rose"></li>
						<li class="btn-select-color variant-space-grey"></li>
					</ul>
				</div>
				<div class="variant-specs-container">
					<p class="mb-1 mt-2 text-md-left text-center text-light title">Addition to Premium 2WD</p>
					<div class="variant-specs-item d-flex">
						<ul class="text-light pr-3 pr-md-0 mb-0">
							<li>Panoramic sunroof</li>
						</ul>
					</div>
					
				</div>
			</div>			
        </div>
    </div>
{{!-- 
    <div class="row">
        <div class="col-12">
            {{>components/SpecsAccordion}}
        </div>
    </div> --}}
</div>