<header id="header" style="display: block; height: 66px; top: 0; left: 0; right: 0; z-index: 1" class="position-fixed">
    <nav class="navbar navbar-expand-lg navbar-light bg-light position-relative zindex2 w-100" style="height: 66px;">
        <a class="navbar-brand" href="#">PROTON</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {{!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a> --}}
                <a class="nav-item nav-link" href="#360View" data-menuanchor="360View">360</a>
                <a class="nav-item nav-link" href="#featureDetails" data-menuanchor="featureOverview">Design</a>
                <a class="nav-item nav-link" href="#featureDetails/1" data-menuanchor="featureDetails">Connectivity</a>
                <a class="nav-item nav-link" href="#featureDetails/2" data-menuanchor="variantComparison">Safety</a>
                <a class="nav-item nav-link" href="#featureDetails/3" data-menuanchor="specificationComparison">Performance</a>
            </div>
        </div>
    </nav>    
</header>

