<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="refined-design-slider-wrapper">
                <div class="detail-slider video-slider">
                    {{!-- <div class="model-intro centered text-white">
                        <h1>Reassured<br>Safety</h1>

                        <div class="progress bg-white">
                            <div class="progress-bar"></div>
                        </div>
                    </div> --}}
                    <div class="vid-overlay"></div>
                    {{>components/VideoContainer
                        id = "video-1"
                        mp4 = "/assets/x70/2020/img/video/Reassured-Safety.mp4"
                        loop = "loop"
                    }}
                    <div class="container-fluid model-headline zindex4">
                        <div class="row mb-2">
                            <div class="col-12 text-center mb-4 pb-5">
                                {{>components/Button
                                    id = "btn-connectivity-video"
                                    link = "https://youtu.be/e6mR4To7DLw"
                                    text = 'Watch Video'
                                    target = "_blank"
                                }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/reassureSafety/mobile/Main-USP.jpg');"></div>
                    {{>components/ModelHeadline
                        title = '"Safety and peace of mind.<br/>It all starts from within"'
                        description = 'Sees what you can’t. Knows before you do. It’s these intuitive touches that make the PROTON X70’s safety features intelligently exceptional. '
                    }}      
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/reassureSafety/mobile/6-SRS-Airbags.jpg');"></div>
                    {{>components/ModelHeadline
                        title = '6 SRS Airbags'
                        description = 'Deploys during a collision to protect and<br/>   reduce the risk of injury.'
                    }}      
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/reassureSafety/mobile/Autonomous-Emergency-Braking-(AEB)-and-Forward-Collision-Warni.jpg');"></div>
                    {{>components/ModelHeadline
                        title = 'Autonomous Emergency Braking (AEB) and Forward Collision Warning (FCW)'
                        description = 'Alerts the driver and brakes automatically to reduce the risk of injury when a potential frontal collision is detected.'
                        disclaimer = '*AEB and FCW safety features are not a substitute for safe and attentive driving.<br/>Driver remains responsible for safe vehicle operation at all times.'
                    }}      
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/reassureSafety/mobile/Adaptive-Cruise-Control.jpg');"></div>
                    {{>components/ModelHeadline
                        title = 'Adaptive Cruise Control (ACC)'
                        description = 'Maintains a safe cruising distance with the vehicle in front of you regardless of changes in speed.'
                        disclaimer = "*ACC safety feature is not a substitute for safe and attentive driving.<br/>Driver remains responsible for safe vehicle operation at all times."
                    }}      
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/reassureSafety/mobile/Lane-Departure-Warning.jpg');"></div>
                    {{>components/ModelHeadline
                        title = 'Lane Departure Warning (LDW)'
                        description = 'Alerts the driver when the vehicle unintentionally<br/>drifts out of the lane.'
                        disclaimer = '*LDW safety feature is not a substitute for safe and attentive driving.<br/>Driver remains responsible for safe vehicle operation at all times.'
                    }}      
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/reassureSafety/mobile/Blind-Spot-Information-System.jpg');"></div>
                    {{>components/ModelHeadline
                        title = 'Blind Spot Information System (BLIS)'
                        description = 'Monitors for blind spots and alerts the driver<br/>when vehicles are nearby.'
                        disclaimer = '*BLIS safety feature is not a substitute for safe and attentive driving.<br/>Driver remains responsible for safe vehicle operation at all times.'
                    }}      
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/reassureSafety/mobile/Door-Opening-Warning-System.jpg');"></div>
                    {{>components/ModelHeadline
                        title = 'Door Opening Warning System (DOW)'
                        description = 'Senses potential danger when opening the front doors.'
                    }}      
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/reassureSafety/mobile/Intelligent-High-Beam-Control.jpg');"></div>
                    {{>components/ModelHeadline
                        title = 'Intelligent High Beam Control (IHBC)'
                        description = 'Automatically switches the headlamps between high and low beam when there are oncoming vehicles.'
                        disclaimer = '*IHBC safety feature is not a substitute for safe and attentive driving.<br/>Driver remains responsible for safe vehicle operation at all times.'
                    }}      
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/reassureSafety/mobile/Tyre-Pressure-Monitoring-System.jpg');"></div>
                    {{>components/ModelHeadline
                        title = 'Tyre Pressure Monitoring System (TPMS)'
                        description = 'Monitors real-time tyre pressure and temperature<br/>to provide peace of mind.'
                    }}      
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/reassureSafety/mobile/360-Camera-and-Parking-Sensors.jpg');"></div>
                    {{>components/ModelHeadline
                        title = '360 Camera and Parking Sensors'
                        description = 'Provides visual and audible assistance to park with ease.'
                    }}      
                </div>
            </div>
        </div>
    </div>
</div>