<div class="container-fluid">
    <div class="row">
        <div class="col-12">            
            <div class="refined-design-slider-wrapper">
                <div class="detail-slider video-slider">
                    {{!-- <div class="model-intro centered text-white">
                        <h1>REDEFINED<br>CONNECTIVITY</h1>

                        <div class="progress bg-white">
                            <div class="progress-bar"></div>
                        </div>
                    </div> --}}
                    <div class="vid-overlay"></div>
                    {{>components/VideoContainer
                        id = "video-1"
                        mp4 = "/assets/x70/2020/img/video/Redefined-Connectivity.mp4"
                        loop = "loop"
                    }}

                    <div class="container-fluid model-headline zindex4">
                        <div class="row mb-2">
                            <div class="col-12 text-center mb-4 pb-5">
                                {{>components/Button
                                    id = "btn-connectivity-video"
                                    link = "https://youtu.be/e6mR4To7DLw"
                                    text = 'Watch Video'
                                    target = "_blank"
                                }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/refinedConnectivity/mobile/Main-USP.jpg');"></div>
                    {{>components/ModelHeadline
                        title = '"Connectivity. The perfect union of intelligence, intuition and innovation.”'
                        description = 'Command centre. Assistant. Entertainer. Everything you need to conquer the journey ahead lies at the tip of your fingers or activated through your voice. In the PROTON X70, it’s never just a drive. It’s about making your life better with intuitive intelligence.'
                    }}             
                </div>

                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/refinedConnectivity/mobile/Voice-Command.jpg');"></div>
                    {{>components/ModelHeadline
                        title = 'Voice Command'
                        description = 'Say “Hi PROTON” to control features like windows, air-conditioning and navigation through the 8” infotainment head unit.'
                    }}             
                </div>

                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/refinedConnectivity/mobile/Remote-Control.jpg');"></div>
                    {{>components/ModelHeadline
                        title = "Remote Control"
                        description = "Monitor and control specific functions of the vehicle remotely with a dedicated smartphone app."
                    }}
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/refinedConnectivity/mobile/Online-Music-Streaming-And-Weather-Forecast.jpg');"></div>
                    {{>components/ModelHeadline
                        title = "Online Music Streaming and Weather Forecast"
                        description = "Access your favourite music streaming platforms and get updated with the latest weather forecast."
                    }}
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/refinedConnectivity/mobile/Online-Navigation.jpg');"></div>
                    {{>components/ModelHeadline
                        title = "Online Navigation"
                        description = "GPS navigation offers traffic alert warnings and driving directions to stay ahead."
                    }}
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/refinedConnectivity/mobile/Smartphone-Connectivity.jpg');"></div>
                    {{>components/ModelHeadline
                        title = "Smartphone Connectivity"
                        description = "Android mirror-link for your smartphone."
                    }}
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/refinedConnectivity/mobile/Panoramic-Sunroof.jpg');"></div>
                    {{>components/ModelHeadline
                        title = "9 Speakers with Power Amplifier and Subwoofer"
                        description = "Indulge in an immersive experience with a power-packed surround sound system."
                    }}
                </div>
                <div class="detail-slider">
                    <div class="detail-slider-bg" style="background-image:url('/assets/x70/2020/img/section/featureDetails/refinedConnectivity/mobile/6-USB-Ports.jpg');"></div>
                    {{>components/ModelHeadline
                        title = "6 USB Ports"
                        description = "Charge electronic gadgets with ease; 2 at the front console, 1 at the console box and 2 below the rear air vents. Unique to PROTON X70, there is also a dedicated USB port behind the rear view mirror to power the dash cam."
                    }}
                </div>
            </div>
        </div>
    </div>
</div>