$font-body: 'MyriadPro-Regular', sans-serif;
// $font-headers: 'NeoSansStd-Bold';
// $font-title: 'NeoSansStd-Medium';

/** Colors **/
$color-primary-blue :#0AA4D4;
$color-blue-1 :#007296;
$color-blue-2 :#2A4C68;
$color-blue-3 :#1E323B;
$color-pink:#EF4D64;
$color-dark-pink:#e11f27;
$color-green:#27AE60;
$color-yellow :#F2994A;

$color-grey:#f1f0f5;
$color-dark-grey:#919191;
$color-white : #fff;
$color-black : #000;

$color-lighter-grey:#F8F8FA;
$color-light-grey: #e3e2eb;

//default link
$color-blue: #33b6e1;

/** Media Queries **/
$break-small: 375px;
$break-medium: 768px;
