/** Colors **/
/** Media Queries **/
/** Colors **/
/** Media Queries **/
#proton-x70-2020 .overlay-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #00020f;
  z-index: 1; }
  #proton-x70-2020 .overlay-loader.hide {
    transition: all 1s;
    height: 0; }
