/** Colors **/
/** Media Queries **/
/** Colors **/
/** Media Queries **/
#proton-x70-2020 {
  /* Interior */ }
  #proton-x70-2020 .exterior-360-wrapper .btn-select-color {
    cursor: pointer;
    height: 15px !important; }
  #proton-x70-2020 .exterior-360-wrapper .exterior-360-wrapper-outer .view360-model-intro .color-raw-name {
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.5rem;
    letter-spacing: 3px; }
    @media screen and (min-width: 768px) {
      #proton-x70-2020 .exterior-360-wrapper .exterior-360-wrapper-outer .view360-model-intro .color-raw-name {
        font-size: 1.5rem; } }
  #proton-x70-2020 .exterior-360-wrapper .exterior-360-wrapper-outer .view360-model-intro .color-selection-container .title {
    color: white;
    font-size: 14px; }
  #proton-x70-2020 .exterior-360-wrapper .exterior-360-wrapper-outer .view360-model-intro .color-selection-container #360-color-selection {
    margin-bottom: 0 !important; }
  #proton-x70-2020 .exterior-360-wrapper .exterior-360-wrapper-outer .view360-model-button.model-headline {
    bottom: 6%; }
    @media screen and (min-width: 768px) {
      #proton-x70-2020 .exterior-360-wrapper .exterior-360-wrapper-outer .view360-model-button.model-headline {
        bottom: 2%; } }
  #proton-x70-2020 .exterior-360-wrapper .exterior-360-wrapper-outer .view360-model-button .title {
    font-size: 12px; }
  #proton-x70-2020 #x70-reel-wrapper {
    width: 100%;
    height: 100%; }
    #proton-x70-2020 #x70-reel-wrapper img {
      margin: 0 auto;
      width: 100% !important; }
      @media screen and (min-width: 768px) {
        #proton-x70-2020 #x70-reel-wrapper img {
          width: 60% !important; } }
      @media screen and (min-width: 1200px) {
        #proton-x70-2020 #x70-reel-wrapper img {
          width: 70% !important; } }
    #proton-x70-2020 #x70-reel-wrapper .reel-preloader {
      display: none !important; }
    #proton-x70-2020 #x70-reel-wrapper .model-360 {
      height: 100%;
      display: none; }
      #proton-x70-2020 #x70-reel-wrapper .model-360.active {
        display: block; }
  #proton-x70-2020 .cat {
    display: none;
    position: absolute;
    top: 11%;
    left: 60%;
    width: 20%;
    height: auto;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; }
    #proton-x70-2020 .cat.hide-popup {
      animation: scale-display--reversed 0.3s;
      animation-fill-mode: forwards; }
    #proton-x70-2020 .cat.show-popup {
      animation: scale-display 0.3s;
      display: block; }

@keyframes scale-display {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes scale-display--reversed {
  0% {
    display: inline-flex;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0); } }
  #proton-x70-2020 #interior-360 {
    width: 100%;
    height: 100vh; }
  #proton-x70-2020 .interior-360-wrapper .model-intro {
    top: 30vh; }
  #proton-x70-2020 .interior-360-wrapper .model-headline {
    bottom: 6%; }
    @media screen and (min-width: 768px) {
      #proton-x70-2020 .interior-360-wrapper .model-headline {
        bottom: 2%; } }
  #proton-x70-2020 .desc-container {
    z-index: 1;
    display: none;
    max-width: 300px;
    max-height: 500px;
    min-width: 200px;
    min-height: 250px;
    background: #fff;
    color: #000;
    border-radius: 3px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch; }
    @media screen and (min-width: 768px) {
      #proton-x70-2020 .desc-container {
        max-width: 400px; } }
    #proton-x70-2020 .desc-container iframe {
      border: none;
      width: 100%; }
    #proton-x70-2020 .desc-container .desc-container-modal-img {
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center !important;
      height: 130px; }
    #proton-x70-2020 .desc-container .title {
      font-family: 'MyriadPro-Bold', sans-serif;
      font-size: 1.25rem;
      line-height: 28px;
      color: black; }
    #proton-x70-2020 .desc-container .text {
      font-size: 14px; }
