@import "../1-base/1-variables";
@import "../1-base/4-mediaquery";

#proton-x70-2020 {
    .mobile-nav-display {
        position: absolute;
        top: 64px;
        z-index: 2;
        padding: 10px 30px;
        width: 100vw;
        background: linear-gradient(180deg,#302e2e 0,#212121 100%);
        color: white;
        letter-spacing: 3px;    
        
        .mobile-selected-nav-item {
            display: block;
            font-size: 13px !important;
        }
    }
    
    .mobile-nav {
        position: absolute;
        display: none;
        top: 64px;
        z-index: 3;
        width: 100vw;
        padding: 0;
        list-style: none;
        font-size: 13px !important;
        
        .mobile-nav-item {
            background: linear-gradient(180deg, rgba(48,46,46,1) 0%, rgba(33,33,33,1) 100%);
            cursor: pointer;
            color: white;
            text-transform: uppercase;
            letter-spacing: 3px;
            transition: all 0.3s;
            margin-bottom: 3px;
    
            .mobile-nav-link {
                color: white;
                display: block;
            }
    
            .mobile-sub-nav {
                list-style: none;
                /* margin-left: 0; */
                padding-left: 0;

                .mobile-sub-nav-item {
                    .mobile-sub-nav-link {
                        display: block;
                        color: #8E8E8E;
                        transition: all 0.3s;
                    }
        
                    &:hover {
                        .mobile-sub-nav-link {
                            transition: all 0.3s;
                            color: $color-primary-blue; 
                        }
                    }
                }
            }
    
            &:hover{
                .mobile-nav-link {
                    transition: all 0.3s;
                    color: $color-primary-blue; 
                }
            }
        }    
    
        li {
            padding: 10px 30px;
        }
    }
    
    .mobile-nav-overlay{
        position: absolute;
        display: none;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background: black;
        opacity: .7;
        top: 64px;
    }
    
    .expand-icon {
        pointer-events: none;
        transition: transform 0.5s;
        transform: rotate(0deg);
        top: 66px;
    
        &.active {
            transition: transform 0.5s;
            transform: rotate(180deg);
        } 
    }

    .x70-menu-wrapper {
        top: 66px;
        // font-family: 'MyriadPro-Bold', sans-serif;
        // background: rgba(0,0,0,0);
        // background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.5) 100%);

        &.bg-shadow {
            background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 7%, rgba(0,0,0,0.7) 100%);
        }
        
        ul {
            list-style: none;
            padding-left: 0;
        }

        .model-intro {
            top: calc(100vh/3 + 20px);
        }
    }
}
