@import "../1-base/1-variables";
@import "../1-base/4-mediaquery";

#proton-x70-2020 {
  .guide-wrapper {
    position: fixed;
    z-index: 1;
    bottom: -250px;
    left: 0;
    background: linear-gradient(0deg, rgba(0,3,13,1) 0%, rgba(0,2,16,1) 75%, rgba(0,3,13,1) 100%);
    width: 100%;
    height: 240px;
    transition: all 0.6s;
    display: none;

    &.active {
      bottom: 0px;
    }
  
    .guide-title {
      text-align: center;
      color: $color-primary-blue;
      letter-spacing: 3px;
      font-size: 14px;
    }
  
    .guide-info{  
      display: none;
      h5 {
        letter-spacing: 3px;
      }
    }
  
    @media (min-width: 1024px) {
      display: block;
    }
  
    .expand-icon {
      top: 15px;
      transition: all 0.5s;
      transform: rotate(0deg);
    }
  
    &.active {
      .expand-icon {
        transition: all 0.5s;
        transform: rotate(180deg);
      }
    }
  }

  .guide-info-xs {
    top: 103px;
    width: 100%;
    z-index: 2;
    padding: 0 10px; 
    background: black; 
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px; 
  }
}

