@import "../1-base/1-variables";
@import "../1-base/4-mediaquery";

#proton-x70-2020 {
  .video-slider-wrapper, .refined-design-slider-wrapper {
    .video-slider {
      position: relative;
      height: 100vh;

      .model-headline {
        bottom: 6%;
      }
  
      .video-feature {
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
  
      .content-items {
        width: 80%;
        top: calc(66px * 2 + 60px);
        left: 0;
        right: 0;
        margin: auto;
  
        .title {
          font-family: 'MyriadPro-Bold', sans-serif;
          letter-spacing: 3px;
          font-weight: bold;
        }
  
        @media screen and (min-width: 768px) {
          width: 60%;
          top: calc(66px * 2 + 50px);
        }
      }
  
      .btn-wrapper {
        bottom: 30%;
        left: 0;
        right: 0;
        text-align: center;
      }
    }
  }
  
  .x70-menu-item {
      width: calc(100% / 4);
  
      a {
        letter-spacing: 3px;
        opacity: 0.75;
        color: white;
        text-shadow: 1px 1px 4px #000;
      }
  }
  
  .progress {
    position: relative;
  //   width: 100px;
    height: 3px;
    border-radius: 0;
    transition: all 0.1s ease-in-out;
    background-color: #a9a9a9;
  
    .progress-bar {
      width: 0;
      background: rgb(255,255,255);
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(169,169,169,1) 100%);
    }
  }
}

