{{#> layouts/base title="Homepage" }}
{{#*inline "meta-block"}}
{{> includes/meta }}
{{/inline}}

{{#*inline "content-block"}}

{{!-- navbar --}}


<section class="pb32 pt32">

    <h4 class="ht3 container">Pls Delete index.html - dist folder when send to
        client</h4>
    <div class="pt24 pb24 bg-pink container">
        <p class="mt24 color-white">
            Container use class "<span class="medium">.container</span>"
            or use pl32 pr32 if needed.
            <br><br>
            <em>Do check general.scss for extra custom styling classes </em>
            <br><br>
            <em>If using the chrome mobile extension the bottom gets overlaps
                abit cause of the label layer. but spacing
                should be correct. just use device toolbar mobile to double
                check</em>

        </p>
    </div>
    <div class="container pt24 pb24">

        <p class="medium"> Classes for font sizes</p>

        <div>
            <div>
                <p>
                    .ht1 = font-size: 34px;
                    <br>
                    .ht2 = font-size: 24px;
                    <br>
                    .ht3 = font-size: 20px;
                    <br>
                    .ht4 = font-size: 16px;
                    <br>
                    .bt1 = font-size: 14px;
                    <br>
                    .bt2 = font-size: 12px
                    <br>
                    .bt3 = font-size: 10px;
                </p>
            </div>

            <div class="pt12">
                <p class="medium">use " .medium " fontFamilyMedium</p>

                <p class="bold"> use " .bold "</p>

            </div>
        </div>

        <div class="pt24 pb24">
            <b>border classes color</b>
            <div class="border-bottom-grey"></div>
            <br>
            <div class="border-bottom-pink"></div>
        </div>

    </div>

    <div class="mt24 mb24">
        <div class="container pb24">
            <p class="medium">Apply header title with buttons</p>
            <p class="body-text-2">onscroll header - will stick top can see
                main.js <br> "home-policy-details-scrolling.html"
            </p>
        </div>
    </div>




    <div class="container bg-pink mt12 mb24">
        <h4>List of Sliced ICONS</h4>

        <div class="bg-black pt4 pb4">
            <div class="icons icon-24hours"></div>
        </div>

        <div class="icons icon-arrow"></div>

        <div class="bg-black pt4 pb4">
            <div class="icons icon-assist"></div>
        </div>
        <div class="icons icon-bell"></div>

        <div class="icons icon-book-open"></div>

        <div class="bg-black pt4 pb4">
            <div class="icons icon-chevron"></div>
        </div>
        <p class="m0"> chevron for "button >" </p>

        <div class="icons icon-claims"></div>

        <div class="icons icon-close"></div>

        <div class="bg-black pt4 pb4">
            <div class="icons icon-dots"></div>
        </div>

        <div class="icons icon-download"></div>

        <div class="icons icon-find"></div>

        <div class="icons icon-home"></div>

        <div class="icons icon-inbox"></div>

        <div class="icons icon-pencil"></div>

        <div class="container bg-black">
            <p class="color-white">for pink or white class</p>
            <div class="icons icon-inbox white-inbox"></div>
            <div class="icons icon-inbox pink-inbox"></div>
            <p class="body-text-2 color-white m0">some icons might not have pink
                or white so if you need can slice it</p>
        </div>


    </div>


    <div class="container">
        <p class="medium">text-desc component example </p>

       
    </div>

    <div class="container bg-pink mt24 pt24 pb24">
        <p class="medium">tile and card components </p>
        <em>tile one component</em>

    </div>

    <div class="pt24 pb24 container">
        <p class="medium">Accordion refer to pages<br>
            home-policy-coverage.html <br>
            travel-policy-area-3.html </p>
    </div>
</section>




{{/inline}}
{{/layouts/base}}