<div class="keyword-frame-wrap {{class}}">
  <div class="keyword-frame">
    <div class="keyword-frame-inner">
      <span class="keyword-frame-text">{{text}}</span>
    </div>
  </div>  
</div>