<div class="modal fade landing-popup show" id="x70popup" tabindex="-1" role="dialog" aria-labelledby="landingPopupTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="">
                <button type="button" class="x70-modal-close close fadeIn animated delay-2s" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="img-wrapper text-center bounceIn animated slow main-voice-btn model-headline w-100 mb-md-5">
                    <img src="/assets/x70/2020/img/Microphone.png" alt="">
                </div>
            </div>

            <div class="modal-body mb-5">


                <div class="text-wrapper fadeIn animated delay-1s model-intro">
                    <div class="text-modal-frame-1">
                        <h4 class="text-modal-title px-3">Navigate the Site with Voice Command.</h4>
                        <p class="text-white text-center w-75">This page is powered by Voice Command features to give you an elevated browsing experience. To begin using, allow us access to your microphone.</p>
                    </div>

                    <div class="text-modal-frame-2">
                        <h4 class="text-modal-title px-3">Get the best out of voice command.</h4>
                        <p class="text-white text-center w-75">Speak directly into your microphone so that we can hear you.</p>
                    </div>

                    <div class="text-modal-frame-3">
                        <h4 class="text-modal-title px-3">Click on the icon<br class="d-md-none"/> above and<br class="d-none d-md-block"/> say<br class="d-md-none"/> "Hi PROTON!"<br class="d-md-none"/> to begin.</h4>
                    </div>

                    <div class="text-modal-frame-4">
                        <p class="text-modal-title m-0 px-3">To navigate the page, Click on the icon above and say any of<br class="d-none d-md-block"/> these phrases below directly into your microphone.</p>
                        <div class="keyword-wrapper mt-2 mt-md-3 text-center d-none d-md-flex">
                            {{>components/Keyword
                                text = '"Explore The X70"'
                            }}
                            {{>components/Keyword
                                text = '"View Design"'
                            }}
                            {{>components/Keyword
                                text = '"See 360"'
                            }}
                            {{>components/Keyword
                                text = '"Compare Variants"'
                            }}
                            {{>components/Keyword
                                text = '"View Price & Specs"'
                            }}                
                        </div>

                        <div class="keyword-wrapper-xs mt-2">
                            <div class="keyword-wrapper js-keywordtag mt-2 mt-md-3 text-center d-md-none">
                                {{>components/Keyword
                                    text = '"Explore The X70"'
                                }}
                                {{>components/Keyword
                                    text = '"View Design"'
                                }}
                                {{>components/Keyword
                                    text = '"See Safety"'
                                }}
                                {{>components/Keyword
                                    text = '"See Engine"'
                                }}          
                            </div>                            

                            <div class="keyword-wrapper js-keywordtag mt-2 mt-md-3 text-center d-md-none">
                                {{>components/Keyword
                                    text = '"View Colour"'
                                }}
                                {{>components/Keyword
                                    text = '"View Price"'
                                }}
                                {{>components/Keyword
                                    text = '"Compare Variants"'
                                }}              
                            </div>
                        </div>

                    </div>

                    {{!-- <div class="text-modal-frame-3">
                        <h5 class="text-blue text-center">Now, say "HI PROTON" to begin.</h5>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
</div>