<div class="container-fluid model-headline">
    <div class="row">
        {{!-- <div class="col-1"></div> --}}
        <div class="col-12 text-center px-4 text-shadow">
            <h3 class="title text-white text-uppercase bold m-0">{{{title}}}</h3>
            <p class="text-white mb-1">{{{description}}}</p>
            <p class="disclaimer text-center text-shadow text-white m-0">{{{disclaimer}}}</p>
        </div>
        {{!-- <div class="col-1"></div> --}}
    </div>
</div>     