<div class="guide-wrapper text-center text-uppercase">
    <div class="img-wrapper position-absolute right16 pt-2 expand-icon"><img src="/assets/x70/2020/img/icons/ArrowUp.png"></div>
    <div class="p-4 guide-info">
        <h5 class="text-blue"> Click on the microphone icon and say any of these prompters <br/> directly into your microphone to navigate.</h5>

        <div class="keyword-wrapper mt-3">
            {{>components/Keyword
                text = '"Explore The X70"'
            }}
            {{>components/Keyword
                text = '"View Design"'
            }}
            {{>components/Keyword
                text = '"SEE SAFETY"'
            }}
            {{>components/Keyword
                text = '"SEE ENGINE"'
            }}
            {{>components/Keyword
                text = '"VIEW COLOUR"'
            }}     
            {{>components/Keyword
                text = '"VIEW PRICE"'
            }}             
            {{>components/Keyword
                text = '"Compare Variants"'
            }}                  
        </div>
    </div>
</div>