.top0 {
  top: 0px; }

.bottom0 {
  bottom: 0px; }

.left0 {
  left: 0px; }

.right0 {
  right: 0px; }

@media (min-width: 768px) {
  .top-md-0 {
    top: 0px; }
  .bottom-md-0 {
    bottom: 0px; }
  .left-md-0 {
    left: 0px; }
  .right-md-0 {
    right: 0px; } }

.top4 {
  top: 4px; }

.bottom4 {
  bottom: 4px; }

.left4 {
  left: 4px; }

.right4 {
  right: 4px; }

@media (min-width: 768px) {
  .top-md-4 {
    top: 4px; }
  .bottom-md-4 {
    bottom: 4px; }
  .left-md-4 {
    left: 4px; }
  .right-md-4 {
    right: 4px; } }

.top8 {
  top: 8px; }

.bottom8 {
  bottom: 8px; }

.left8 {
  left: 8px; }

.right8 {
  right: 8px; }

@media (min-width: 768px) {
  .top-md-8 {
    top: 8px; }
  .bottom-md-8 {
    bottom: 8px; }
  .left-md-8 {
    left: 8px; }
  .right-md-8 {
    right: 8px; } }

.top12 {
  top: 12px; }

.bottom12 {
  bottom: 12px; }

.left12 {
  left: 12px; }

.right12 {
  right: 12px; }

@media (min-width: 768px) {
  .top-md-12 {
    top: 12px; }
  .bottom-md-12 {
    bottom: 12px; }
  .left-md-12 {
    left: 12px; }
  .right-md-12 {
    right: 12px; } }

.top16 {
  top: 16px; }

.bottom16 {
  bottom: 16px; }

.left16 {
  left: 16px; }

.right16 {
  right: 16px; }

@media (min-width: 768px) {
  .top-md-16 {
    top: 16px; }
  .bottom-md-16 {
    bottom: 16px; }
  .left-md-16 {
    left: 16px; }
  .right-md-16 {
    right: 16px; } }

.top20 {
  top: 20px; }

.bottom20 {
  bottom: 20px; }

.left20 {
  left: 20px; }

.right20 {
  right: 20px; }

@media (min-width: 768px) {
  .top-md-20 {
    top: 20px; }
  .bottom-md-20 {
    bottom: 20px; }
  .left-md-20 {
    left: 20px; }
  .right-md-20 {
    right: 20px; } }

.top24 {
  top: 24px; }

.bottom24 {
  bottom: 24px; }

.left24 {
  left: 24px; }

.right24 {
  right: 24px; }

@media (min-width: 768px) {
  .top-md-24 {
    top: 24px; }
  .bottom-md-24 {
    bottom: 24px; }
  .left-md-24 {
    left: 24px; }
  .right-md-24 {
    right: 24px; } }

.top32 {
  top: 32px; }

.bottom32 {
  bottom: 32px; }

.left32 {
  left: 32px; }

.right32 {
  right: 32px; }

@media (min-width: 768px) {
  .top-md-32 {
    top: 32px; }
  .bottom-md-32 {
    bottom: 32px; }
  .left-md-32 {
    left: 32px; }
  .right-md-32 {
    right: 32px; } }

.top48 {
  top: 48px; }

.bottom48 {
  bottom: 48px; }

.left48 {
  left: 48px; }

.right48 {
  right: 48px; }

@media (min-width: 768px) {
  .top-md-48 {
    top: 48px; }
  .bottom-md-48 {
    bottom: 48px; }
  .left-md-48 {
    left: 48px; }
  .right-md-48 {
    right: 48px; } }

.top68 {
  top: 68px; }

.bottom68 {
  bottom: 68px; }

.left68 {
  left: 68px; }

.right68 {
  right: 68px; }

@media (min-width: 768px) {
  .top-md-68 {
    top: 68px; }
  .bottom-md-68 {
    bottom: 68px; }
  .left-md-68 {
    left: 68px; }
  .right-md-68 {
    right: 68px; } }

/*
  RUN GULP to generate the classes. Now you can use these helpers to customize spacing on HTML elements.
*/
