/** Colors **/
/** Media Queries **/
.section {
  background-size: cover !important;
  background-position: center !important; }

.model-headline {
  position: absolute;
  left: 0;
  bottom: 6%; }
  .model-headline .title {
    letter-spacing: 3px; }
  @media screen and (min-width: 768px) {
    .model-headline {
      bottom: 2%; } }

#headline .model-headline {
  bottom: 0; }
